h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--accent);
  margin-bottom: 2rem;
  text-shadow: 0 0 5px var(--accent), 0 0 10px var(--accent);
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.project-cards .project-card {
  background: rgba(255, 255, 255, 0.1);

  border-radius:  58px 26px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-cards .project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 247, 255, 0.3);
}

.project-cards .project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--accent);
}

.project-cards .project-card p {
  font-size: 1rem;
  color: var(--text);
}
