/* --- Header --- */
.header {
  position: relative;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(225deg, var(--secondary) 65%, var(--accent) 100%);
  text-align: center;
  color: var(--text);
}

/* --- Header Content --- */
.header-content {
  animation: apear-content 4000ms forwards;
}

.header-content h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  background: var(--accent);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glitchText 5s infinite;
  pointer-events: none;
  user-select: none;
}

.header-content p {
  font-size: 1.5rem;
  color: var(--text);
  margin-top: 0;
}

/* --- Social Icons --- */
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  fill: var(--text);
  transition: all 0.3s;
}

.social-icon svg {
  margin-inline-start: 12px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-icon svg:hover {
  fill: var(--accent);
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px var(--accent));
}

.icon {
  width: 50px;
}

/* --- Lights --- */
.light {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(circle, #ccc 0%, var(--accent) 90%);
  filter: drop-shadow(0 0 5px var(--opposite));
  animation: moveLights 5s ease-in-out infinite;
}

.light:nth-child(odd) {
  animation-duration: 7s;
}

.light:nth-child(even) {
  animation-duration: 6s;
}


/* --- Keyframes --- */
@keyframes glitchText {
  0%,
  100% {
    transform: none;
    text-shadow: var(--neon-glow);
  }
  92% {
    transform: skew(-4deg);
    text-shadow: none;
  }
  93% {
    transform: skew(4deg);
    text-shadow: var(--neon-glow);
  }
  94% {
    transform: none;
    text-shadow: none;
  }
  95% {
    transform: skew(2deg);
    text-shadow: var(--neon-glow);
  }
  96% {
    transform: none;
    text-shadow: none;
  }
}

@keyframes apear-content {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveLights {
  0%, 100% { transform: translateY(0); }
  30% { transform: translateY(-20px); }
  70% { transform: translateY(20px); }

}
