/* --- Header --- */
.header {
  position: relative;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(225deg, var(--secondary) 65%, var(--accent) 100%);
  background: radial-gradient(ellipse 60% 46% at bottom, var(--accent) 0%, var(--secondary) 90%);
  text-align: center;
  color: var(--text);
}

/* --- Header Content --- */
.header-content {
  animation: apear-content 4000ms forwards;
}

p {
  font-size: 2.5vh;
  position: relative;
  font-family: 'Exo 2';
  left: 10px;
  margin: 3px;
  color: var(--accent);
}

p:nth-child(1){
  text-align: left;
  left: -10px;

}

p:nth-child(3){
  text-align: right;

}

.name {
  position: relative;
  display: flex;
  flex-direction: row;
}

.name h1:nth-child(1){
  animation-delay: 0s;
}
.name h1:nth-child(2){
  animation-delay: 0.2s;
}
.name h1:nth-child(3){
  animation-delay: 0.4s;
}
.name h1:nth-child(4){
  animation-delay: 0.6s;
}
.name h1:nth-child(5){
  animation-delay: 0.8s;
}
.name h1:nth-child(6){
  animation-delay: 1s;
}
.name h1:nth-child(7){
  animation-delay: 1.2s;
}
.name h1:nth-child(8){
  width: 0.5em;
  display: inline-block;
  animation-delay: 1.4s;
}
.name h1:nth-child(9){
  animation-delay: 1.6s;
}
.name h1:nth-child(10){
  animation-delay: 1.8s;
}
.name h1:nth-child(11){
  animation-delay: 2s;
}
.name h1:nth-child(12){
  animation-delay: 2.2s;
}
.name h1:nth-child(13){
  animation-delay: 2.4s;
}
.name h1:nth-child(14){
  animation-delay: 2.6s;
}
.name h1:nth-child(15){
  animation-delay: 2.8s;
}
.name h1:nth-child(16){
  animation-delay: 3s;
}


.header-content h1 {
  margin-top: 0px;
  font-size: 8vh;
  font-weight: bold;
  margin-bottom: 0px;
  color: var(--text);
  pointer-events: none;
  user-select: none;
  animation: lighting 1.3s alternate infinite;
}

/* --- Social Icons --- */
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  fill: var(--text);
  transition: all 0.3s;
}

.social-icon svg {
  margin-inline-start: 12px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.social-icon svg:hover {
  fill: var(--accent);
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px var(--accent));
}

.icon {
  width: 5.5vh;
}

/* --- Lights --- */
.light {
  position: absolute;
  padding: 0.3vh;
  border-radius: 50%;
  background: radial-gradient(circle, var(--opposite) 0%, var(--accent) 100%);
  filter: drop-shadow(0 0 5px var(--opposite));
  animation: moveLights 5s ease-in-out infinite;
}

.light:nth-child(odd) {
  animation-duration: 7s;
}

.light:nth-child(even) {
  animation-duration: 6s;
}

/* --- Keyframes --- */
/* @keyframes glitchText {
  0%,
  100% {
    transform: none;
    text-shadow: var(--neon-glow);
  }
  92% {
    transform: skew(-4deg);
    text-shadow: none;
  }
  93% {
    transform: skew(4deg);
    text-shadow: var(--neon-glow);
  }
  94% {
    transform: none;
    text-shadow: none;
  }
  95% {
    transform: skew(2deg);
    text-shadow: var(--neon-glow);
  }
  96% {
    transform: none;
    text-shadow: none;
  }
} */

@keyframes lighting
{
	0% {
		color: var(--text);
		text-shadow: none;
	}

	50% {
		color: var(--text);
		text-shadow: none;
	}

	100% {
		color: var(--accent);
		text-shadow: var(--neon-glow);
	}
}

@keyframes apear-content {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveLights {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  70% {
    transform: translateY(20px);
  }
}
