/* --- Color Picker --- */

.color-picker {
  position: absolute;
  top: 200px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: apear-colors 3000ms forwards;
  z-index: 10;
}

.color-picker .rgb {
  border: solid 4px var(--opposite);
  right: -5%;
  top: -27%;
  position: absolute;
  padding: 30px;
  z-index: 2;
  animation: apear-colors 4000ms forwards, rgb-switch 9000ms infinite linear;
  border-radius: 50%;
}

.color-picker .line{
  border: solid 2px var(--opposite);
  height: 490px;
  position: absolute;
  top: -40px;
  right: 45%;
  z-index: 1;
  animation: apear-colors 4000ms forwards, rgb-switch 9000ms infinite linear;
}

.color-picker button {
  margin: 2.5px;
  border: none;
  padding: 15px 30px;
  transform: rotate(140deg);
  border-radius: 30px 0px 60px 0px;
  cursor: pointer;
  font-size: 1rem;
  z-index: 2;
}

.color-picker button:hover ~ button {
  transform: translateY(50px) rotate(140deg);
}

/* --- Color Buttons --- */
#button-red {
  background-color: #ff1313;
  filter: drop-shadow(0 0 5px #ff1313);
}
#button-orange {
  background-color: #ff8d13;
  filter: drop-shadow(0 0 5px #ff8d13);
}
#button-yellow {
  background-color: #fffb13;
  filter: drop-shadow(0 0 5px #fffb13);
}
#button-green {
  background-color: #1bff13;
  filter: drop-shadow(0 0 5px #1bff13);
}
#button-teal {
  background-color: #13ffe3;
  filter: drop-shadow(0 0 5px #13ffe3);
}
#button-blue {
  background-color: #13d0ff;
  filter: drop-shadow(0 0 5px #13d0ff);
}
#button-purple {
  background-color: #a513ff;
  filter: drop-shadow(0 0 5px #a513ff);
}
#button-pink {
  background-color: #ff13d0;
  filter: drop-shadow(0 0 5px #ff13d0);
}
#button-magenta {
  background-color: #ff13ff;
  filter: drop-shadow(0 0 5px #ff13ff);
}


@keyframes rgb-switch {
  0%, 100% {
    background-color: #ff1313;
    filter: drop-shadow(0 0 20px #ff1313);
  }
  11% {
    background-color: #ff8d13;
    filter: drop-shadow(0 0 20px #ff8d13);
  }
  22% {
    background-color: #fffb13;
    filter: drop-shadow(0 0 20px #fffb13);
  }
  33% {
    background-color: #1bff13;
    filter: drop-shadow(0 0 20px #1bff13);
  }
  44% {
    background-color: #13ffe3;
    filter: drop-shadow(0 0 20px #13ffe3);
  }
  55% {
    background-color: #13d0ff;
    filter: drop-shadow(0 0 20px #13d0ff);
  }
  66% {
    background-color: #a513ff;
    filter: drop-shadow(0 0 20px #a513ff);
  }
  77% {
    background-color: #ff13d0;
    filter: drop-shadow(0 0 20px #ff13d0);
  }
  88% {
    background-color: #ff13ff;
    filter: drop-shadow(0 0 20px #ff13ff);
  }
}

@keyframes apear-colors {
  from {
    opacity: 0;
    transform: translateY(-800px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
