/* --- Color Picker --- */

.color-picker {
  position: absolute;
  /*bottom: 1.25vw;
  right: 1.9vw;*/
  bottom: 2.7vh;
  right: 3.8vh;
  display: flex;
  gap: -4px;
  z-index: 10;
}

.color-picker .btn {
  margin: 0;
  border: none;
  padding: 1.6vh 3.2vh;
  /* padding: 0.7vw 1.4vw; */
  transform: rotate(225deg);
  border-radius: 60px 0px 30px 0px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  animation: apear-colors 3000ms forwards;
}

.color-picker .btn:hover {
  transform: scale(1.3) rotate(225deg);
}

/* Incrementando o animation-delay de 0.2s em 0.2s */
.color-picker .btn {
  animation-delay: calc(0.15s * (var(--i, 1) - 1));
}

/* Aplique o valor de --i de 1 até 10 */
.color-picker .btn:nth-child(1) {
  --i: 1;
  left: 63px;
}
.color-picker .btn:nth-child(2) {
  --i: 2;
  left: 56px;
}
.color-picker .btn:nth-child(3) {
  --i: 3;
  left: 49px;
}
.color-picker .btn:nth-child(4) {
  --i: 4;
  left: 42px;
}
.color-picker .btn:nth-child(5) {
  --i: 5;
  left: 35px;
}
.color-picker .btn:nth-child(6) {
  --i: 6;
  left: 28px;
}
.color-picker .btn:nth-child(7) {
  --i: 7;
  left: 21px;
}
.color-picker .btn:nth-child(8) {
  --i: 8;
  left: 14px;
}
.color-picker .btn:nth-child(9) {
  --i: 9;
  left: 7px;
}
.color-picker .btn:nth-child(10) {
  --i: 10;
}

.btn .hole {
  position: absolute;
  padding: 0%;
  margin: 0;
  right: 2%;
  /* width: 0.95vw;
  height: 0.95vw; */
  bottom: 10%;
  width: 40%;
  height: 80%;
  border-radius: 50%;
  background: var(--primary);
  opacity: 0.7;
}

/* --- Color Buttons --- */
#button-theme {
  background-color: var(--opposite);
  filter: drop-shadow(0 0 3.5px var(--opposite));
}

#button-red {
  background-color: #ff1313;
  filter: drop-shadow(0 0 3.5px #ff1313);
}
#button-orange {
  background-color: #ff8d13;
  filter: drop-shadow(0 0 3.5px #ff8d13);
}
#button-yellow {
  background-color: #fffb13;
  filter: drop-shadow(0 0 3.5px #fffb13);
}
#button-green {
  background-color: #1bff13;
  filter: drop-shadow(0 0 3.5px #1bff13);
}
#button-teal {
  background-color: #13ffe3;
  filter: drop-shadow(0 0 3.5px #13ffe3);
}
#button-blue {
  background-color: #13d0ff;
  filter: drop-shadow(0 0 3.5px #13d0ff);
}
#button-purple {
  background-color: #a513ff;
  filter: drop-shadow(0 0 3.5px #a513ff);
}
#button-pink {
  background-color: #ff13d0;
  filter: drop-shadow(0 0 3.5px #ff13d0);
}
#button-magenta {
  background-color: #ff13ff;
  filter: drop-shadow(0 0 3.5px #ff13ff);
}

@keyframes apear-colors {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
