.section {
  min-height: 50vh;
  padding: 5rem 2rem;
  margin: 0 auto;
}

.dark-theme {
  --primary: #242424;
  --secondary: #303030;
  --text: #ffffff;
  --opposite: #ccc;

  background-color: var(--primary);
  color: var(--text);
}

.light-theme {
  --primary: #f5f5f5;
  --secondary: #d3d3d3;
  --text: #333333;
  --opposite: #242424;

  background-color: var(--primary);
  color: var(--text);
}


body {
  margin: 0;
  min-height: 100vh;
}

:root {
  font-family: 'Orbitron', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

#color-red {
  --accent: #ff1313e5;
  --neon-glow: 0 0 10px var(--accent), 0 0 20px var(--accent), 0 0 30px var(--accent);
}

#color-orange {
  --accent: #ff8c13e5;
  --neon-glow: 0 0 10px var(--accent), 0 0 20px var(--accent), 0 0 30px var(--accent);
}

#color-yellow {
  --accent: #fffa13e5;
  --neon-glow: 0 0 10px var(--accent), 0 0 20px var(--accent), 0 0 30px var(--accent);
}

#color-green {
  --accent: #1bff13e5;
  --neon-glow: 0 0 10px var(--accent), 0 0 20px var(--accent), 0 0 30px var(--accent);
}

#color-teal {
  --accent: #13ffe5e5;
  --neon-glow: 0 0 10px var(--accent), 0 0 20px var(--accent), 0 0 30px var(--accent);
}

#color-blue {
  --accent: #13d0ffe5;
  --neon-glow: 0 0 10px var(--accent), 0 0 20px var(--accent), 0 0 30px var(--accent);
}

#color-purple {
  --accent: #a313ffe5;
  --neon-glow: 0 0 10px var(--accent), 0 0 20px var(--accent), 0 0 30px var(--accent);
}

#color-pink {
  --accent: #ff13cfe5;
  --neon-glow: 0 0 10px var(--accent), 0 0 20px var(--accent), 0 0 30px var(--accent);
}

#color-magenta {
  --accent: #ff13ffe5;
  --neon-glow: 0 0 10px var(--accent), 0 0 20px var(--accent), 0 0 30px var(--accent);
}
